@inherits LayoutComponentBase

@inject NavigationManager navManager 
@inject AppState AppState

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            <CascadingValue Value="@AppState" Name="AppState">
                @if (AppState.Initialized)
                {
                    @Body
                }
            </CascadingValue>
        </div>
    </div>
</div>


@code{

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        AppState.Initialized = true;
        this.StateHasChanged();
    }

}
