@inherits LayoutComponentBase

@inject NavigationManager navManager 
@inject AppState AppState

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <p style="text-align:center">@collegeName</p>
        </div>

        <div class="content px-4">
            <CascadingValue Value="@AppState" Name="AppState">
                @if (AppState.Initialized)
                {
                    @Body
                }
            </CascadingValue>
        </div>
    </div>
</div>


@code{

    protected string collegeName { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        collegeName = AppState.ApiClient.CollegeService.GetById(AppState.CollegeId).Result.Name;

        AppState.Initialized = true;
        this.StateHasChanged();
    }

}
