<style>
    .uglynavmenu a{
        color: white;
    }
</style>

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">College Management</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="uglynavmenu">
    <a href="/Management/Buildings">Buildings</a><br/>
    <a href="/Management/Employees">Employees</a><br />
    <a href="/Management/Payments">Payments</a><br />
    <a href="/Teaching/Groups">Groups</a><br />
    <a href="/Teaching/Students">Students</a><br />
    <a href="/Settings">Settings</a><br/>
</div>

@code {
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
